@charset "UTF-8";
/*Paleta de Colores*/
/*Tamaño de fuente*/
/*Resolución de pantalla*/
/*Separaciones (margenes y padding)*/
/*MIXINS*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: #1A4D2E;
}

.navbar,
.nav-link,
.navbar-nav .nav-link.active,
.navbar-brand {
  color: white;
  background: #1A4D2E;
}

.carousel-item img {
  height: 350px;
}

@media (min-width: 768px) {
  .carousel-item img {
    height: 70vh;
  }
}
h1, h2, h3, h5 {
  text-align: center;
  margin-top: 40px;
}

p {
  font-size: 14px;
  text-align: center;
}

.card-title {
  margin-top: 20px;
}

footer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*anidacion*/
}
footer .container-redes a {
  color: #1A4D2E;
  text-decoration: none;
  font-size: 40px;
}

.btn, .btn-primary {
  border: solid 1px #1A4D2E;
  width: 200px;
  text-align: center;
  padding: 5px 20px;
  border-radius: 10px;
}

.uno, .dos, .tres, .cuatro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uno img, .dos img, .tres img, .cuatro img {
  font-size: 60px;
}

.btn, .btn-primary {
  color: white;
  background-color: #1A4D2E;
}

.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}

/*¿COMO DISMINUYO EL TAMAÑO DE CADA IMAGEN?PPALMENTE LA CLASE 3?*/
.contenedor-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 60px;
  max-width: 100%;
}

.video {
  text-align: center;
  max-width: 100%;
}

@media (min-width: 768px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
}
@media (min-width: 768px) {
  .contenedor-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
}
@media (min-width: 992px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
  }
}
@media (min-width: 992px) {
  .contenedor-banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
  }
}
@media (min-width: 1200px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
  }
}
@media (min-width: 1200px) {
  .contenedor-banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
  }
}
.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-cards img {
  font-size: 40px;
}

.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}

.btn-primary {
  background-color: #1A4D2E;
  color: white;
  text-decoration: none;
  max-width: 100%;
}
.btn-primary:hover {
  background-color: #1A4D2E;
}

.img {
  width: 50%;
  height: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
}
@media (min-width: 992px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
  }
}
@media (min-width: 1200px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
